// -------------[FOOTER-SECTION]----------------------------------------------
.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

  // .footer__container
  .footer__container {
    padding: 0 20px;
  }

  // .footer__row
  &__row {
    padding: 61px 0 65px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 40px;
  }

  // .footer__title
  &__title {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-white;

    @media (max-width: 414px) {
      .footer__title {
        line-height: 150%;
      }
    }
  }

  // .footer__list
  &__list {
    margin-top: 15px;
    margin-bottom: 0;
  }

  // .footer__link
  &__link {
    color: $color-dark-gray;

    &:hover {
      text-decoration: underline;
    }
  }

  // .footer__img
  &__img {
    margin-top: 20px;
    display: flex;
    gap: 24px;
  }

  // .footer__basement
  .footer__basement {
    padding: 23px 0 34px;
  }

  & hr {
    border: 1px solid $color-dark-gray;
    margin: 8px 0 0;
  }
}

.basement-footer {
  // .basement-footer__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  // .basement-footer__link
  &__link {
    color: $color-dark-gray;

    &:hover {
      text-decoration: underline;
    }
  }
}

// -------------[FOOTER-SECTION-MEDIA]----------------------------------------------
@media (max-width: 800px) {
  .footer__row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
  }
}

@media (max-width: 414px) {
  .footer__row {
    padding: 62px 0 72px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) auto auto;
    row-gap: 31px;
  }

  .footer__list {
    margin-bottom: 0;
  }

  .footer hr {
    margin: 0;
  }

  .footer__basement {
    padding: 2rem;
  }

  .basement-footer__list {
    flex-direction: column;
  }
}
