// --HEADER--------------------------------------------------------
.header {
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1200px;

  // .header__menu
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-header {
  // .menu-header__logo
  &__logo {
    & img {
      width: 24px;
      height: 24px;
      margin-right: 14px;
    }
  }

  // .menu-header__navigation
  &__navigation {
    flex: 1 1 auto;
    margin-left: 90px;
  }

  // .menu-header__list
  &__list {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
  }

  // .menu-header__item
  &__item {
    flex: 0 1 auto;
  }

  // .menu-header__link
  &__link {
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: $color-dark-gray;
    padding: 0;
    margin: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  // .menu-header__link-white
  &__link-white {
    color: $color-white;
  }

  // .menu-header__search
  &__search {
    flex: 0 1 auto;
  }
}

.search-menu {
  // .search-menu__input
  &__input {
    width: 248px;
    border: none;
    padding: 0;
    height: 25px;
    border-radius: 50px;
    background-color: $color-black;
    text-transform: uppercase;
    color: #757575;

    &::placeholder {
      font-family: Arial, Helvetica, sans-serif;
      color: #757575;
      font-size: 13.3px;
      padding: 0 0 0 10px;
    }
  }
}

// --HEADER-MEDIA--------------------------------------------------------
@media (max-width: 1240px) {
  .header {
    max-width: 100%;
  }

  .header__menu {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .menu-header__navigation {
    margin: 0 10px;
  }
}

@media (max-width: 414px) {
  .menu-header__logo {
    display: flex;
    align-items: center;
  }

  .menu-header__navigation {
    flex: 0 0 100%;
    margin: 0;
  }

  .menu-header__list {
    line-height: 13px;
    flex-direction: column;
    align-items: start;
    row-gap: 3px;
    margin: 16px 0;
  }

  .search-menu__input {
    width: 100%;
  }

  .menu-header__search {
    flex: 1 1 100%;
    margin-top: 3px;
  }
}
