$color-green: #34c176;
$color-black: #3c3b3d;
$color-dark-black: #08020d;
$color-gray: #e0e0e0;
$color-dark-gray: #cacaca;
$color-orange: #f89202;
$color-purple: #5328a1;
$color-red: #95390c;
$color-white: #fff;
